[Unit]
Description=Stellarium Projection
Requires=stellarium.service
BindsTo=stellarium.service
After=stellarium.service

[Service]
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/pi/canismajor
ExecStart=/home/pi/canismajor/venv/bin/python -m main --conf /home/pi/canismajor/conf.yaml
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
