[Unit]
Description=Stellarium Projection
After=default.target

[Service]
ExecStart=/home/pi/urania/venv/bin/python -m main --conf /home/pi/urania/conf.yaml
Restart=always
RestartSec=10s

[Install]
RequiredBy=default.target
